.project {
   padding-bottom: 150px;
}
.project .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.project__heading {
   width: 100%;
   max-width: 350px;
   letter-spacing: -0.36px;
}
.project__link {
   display: inline-block;
   width: 100%;
   max-width: 162px;
   padding: 17px;
   text-align: center;
   text-decoration: none;
   color: #33323D;
   letter-spacing: 2px;
   border: 1px solid #33323D;
}
@media only screen and (max-width: 768px){
   .project {
      padding-bottom: 96px;
   }
}
@media only screen and (max-width: 550px) {
   .project .container {
     flex-direction: column;
   }
   .project__heading {
      margin-bottom: 40px;
   }
}
@media only screen and (max-width: 425px) {
   .project__heading {
      width: 100%;
      max-width: 311px;
      text-align: center;
   }
}